.env
/scripts/.env
/scripts/__pycache__/
/node_modules/
/desktop/node_modules/
/desktop/out/
/desktop/appdata/scripts/__pycache__/
/desktop/appdata/
/desktop/scripts/__pycache__/
/desktop/appdata/bin/*
/desktop/bin/*
/desktop/appdata/docs/
/docs/
/dist/
/build/
tmp.txt

generate-structure.js